<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pós-Corte</ion-title>
  </ion-toolbar>
</ion-header>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Pré-Corte</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <h2>Informações Pós-Corte</h2>
    <p>Insira as informações necessárias após o corte.</p>

    <ion-item>
      <ion-label position="floating">Detalhes</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="nextScreen()">Próximo</ion-button>
  </ion-content>
</div>
